head
  title Dynamic Reflections with WebGL
  link(rel="stylesheet" href="/styles.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Questrial")
body
  h1 Dynamic Reflections with WebGL
  p by Dylan Cutler
  canvas#webgl-canvas
  script(type="text/javascript" src="/bundle.js")
