head
  title WebGL Environment Mapping
  link(rel="stylesheet" href="/styles.css")
  script(type="text/javascript")
    | window.__DEV__ = !{dev}
body
  canvas(id="canvas")
  script(type="text/javascript" src="/dist/bundle.js")
