head
  title Dynamic Reflections with WebGL
  link(rel="stylesheet" href="/styles.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Questrial")
body
  h1 Dynamic Reflections with WebGL
  p by Dylan Cutler
  canvas#webgl-canvas
  script(type="text/javascript" src="/bundle.js")
  p.instructions Use the mouse to control the camera position
    br
    | Use the up and down arrow keys to rotate the teapot
    br
    | Use the left and right to make the teapot spin faster or slower
    br
    | Press `Enter` to reset the view and teapot
